QMainWindow#top_win {
    /* background-color: #53d37e; */
    border-radius: 30px;
    background-color: #516be2;
}

QWidget {
    border-radius: 15px;
    /* box-shadow: 120px 80px 40px 20px #00000057; */
}

QLabel {
    font-family: YouYuan;
    color: #fff;
}

QLabel#lab_title {
    font-size: 20pt
}

QLabel#lab_date {
    font-size: 16pt
}

QLabel#lab_time {
    font-size: 64pt;
}